/* index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.button {
  margin: 0 auto;
}

#rock, #paper, #scissors {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#rock{
    background-color: #383838;

}
#paper{
    background-color: #53c2e4;

}
#scissors{
    background-color: #4caf50;

}

#rock:hover, #paper:hover, #scissors:hover {
  background-color: #ffa600;
}

#results{
  background-color: #ffe5b4;
  color: black
}